
  .scrollxp-nested h2 {
    padding-left: 1rem;
    padding-right: 1rem
}
.scrollxp-nested h2 {
    font-family: "Founders Grotesk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.scrollxp-nested h2 {
    font-size: 1.75rem
}
.scrollxp-nested h2 {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}
.scrollxp-nested p {
    padding-top: 2rem;
    padding-bottom: 2rem
}
.scrollxp-nested p {
    padding-left: 1rem;
    padding-right: 1rem
}
.scrollxp-nested h2 + p {
    padding-top: 0px;
    padding-bottom: 0px
}
.scrollxp-nested pre {
    padding-left: 1rem;
    padding-right: 1rem
}
.scrollxp-nested pre {
    padding-bottom: 2rem
}
