/*
Our markdown is parsed by a library Ryan hasn't put anywhere but his computer
and npm (he'll get it on github soon enough).  It handles a few things that this
stylesheet targets.

- Syntax highlighting with the same package that vscode uses
  - TODO: document all the fancy things you can do with code blocks
- It adds ids and anchors to each heading
- Builds a table of contents out of the headings in the markdown
  - the toc links to the generated heading ids
  - markdown files only get a a ToC if there is a "## toc" in the actual markdown
  - it puts the toc and content as siblings:
    ```
    <div class="toc-container">
      <ul class="toc"/>
    </div>
    <div class="md-prose">
      <!-- actual markdown HTML -->
    </div>
    ```
*/

/*****************************************************************************/
/* layout */
.md-toc-container {
  display: flex;
}

.md-prose {
  flex: 1;
}

.md-toc-nav {
  font-size: 85%;
  order: 2;
  padding: 1rem;
  position: sticky;
  top: 0;
  min-width: 30rem;
  height: 100vh;
  overflow: auto;
}

.toc a {
  display: block;
  padding: 0.5rem 0;
  margin-left: 1rem;
}

/*****************************************************************************/
/* code blocks */
.markdown pre[data-filename]:before {
  content: attr(data-filename);
  display: block;
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
/*****************************************************************************/
/* prose */

.codeblock-line {
  display: block;
  position: relative;
  padding-right: 1rem;
}

.markdown .icon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown h2 code,
.markdown h3 code,
.markdown h4 code {
  font-size: 100%;
  padding: 0;
  border: none;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  scroll-snap-margin-top: 1em;
  scroll-margin-top: 1em;
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown h1 .icon-link,
.markdown h2 .icon-link,
.markdown h3 .icon-link,
.markdown h4 .icon-link,
.markdown h5 .icon-link,
.markdown h6 .icon-link {
  color: var(--base0D);
  vertical-align: middle;
  visibility: hidden;
}

.markdown h1:hover a,
.markdown h2:hover a,
.markdown h3:hover a,
.markdown h4:hover a,
.markdown h5:hover a,
.markdown h6:hover a {
  text-decoration: none;
}

.markdown h1:hover a .icon-link,
.markdown h2:hover a .icon-link,
.markdown h3:hover a .icon-link,
.markdown h4:hover a .icon-link,
.markdown h5:hover a .icon-link,
.markdown h6:hover a .icon-link {
  visibility: visible;
}

.markdown h1:hover a .icon-link:before,
.markdown h2:hover a .icon-link:before,
.markdown h3:hover a .icon-link:before,
.markdown h4:hover a .icon-link:before,
.markdown h5:hover a .icon-link:before,
.markdown h6:hover a .icon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: var(--base06);
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown details {
  display: block;
}

.markdown summary {
  display: list-item;
}

.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin-top: 5rem;
}

.markdown h1:first-child {
  margin-top: 1rem;
}

.markdown img {
  border-style: none;
}

.markdown code,
.markdown kbd,
.markdown pre {
  font-size: 0.9em;
}

.markdown hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown input {
  font: inherit;
  margin: 0;
}

.markdown input {
  overflow: visible;
}

.markdown [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown * {
  box-sizing: border-box;
}

.markdown input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown a {
  color: var(--base0D);
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown strong {
  font-weight: 600;
}

.markdown hr:after,
.markdown hr:before {
  display: table;
  content: "";
}

.markdown hr:after {
  clear: both;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown details summary {
  cursor: pointer;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: var(--base5);
  vertical-align: middle;
  background-color: var(--base01);
  border: 1px solid var(--base02);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--base02);
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown h1 {
  font-size: 32px;
}

.markdown h1,
.markdown h2 {
  font-weight: 700;
  letter-spacing: -0.025em;
}

.markdown h2 {
  font-size: 24px;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h3,
.markdown h4 {
  font-weight: 600;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h6 {
  font-size: 12px;
}

.markdown p,
.markdown docs-info,
.markdown docs-warning,
.markdown docs-error,
.markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ol,
.markdown ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code,
.markdown pre {
  font-size: 0.9rem;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown input::-webkit-inner-spin-button,
.markdown input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown:after,
.markdown:before {
  display: table;
  content: "";
}

.markdown:after {
  clear: both;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--base02);
  border: 0;
}

.markdown blockquote {
  padding: 0 1em;
  color: var(--base03);
  border-left: 0.25em solid var(--base02);
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 32px 0 16px 0;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1 {
  font-size: 2em;
}

.markdown h1,
.markdown h2 {
  padding-bottom: 0.3em;
  /* border-bottom: 1px solid var(--base01); */
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.85em;
  color: var(--base05);
}

.markdown ol,
.markdown ul {
  padding-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li {
  word-wrap: break-all;
  list-style-type: initial;
}

.markdown li > p {
  margin-top: 16px;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid var(--base01);
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid var(--base01);
}

.markdown table tr:nth-child(2n) {
  background-color: var(--base00);
}

.markdown img {
  max-width: 100%;
  box-sizing: initial;
  background-color: var(--base00);
}

.markdown img[align="right"] {
  padding-left: 20px;
}

.markdown img[align="left"] {
  padding-right: 20px;
}

.markdown pre {
  word-wrap: normal;
}

.markdown pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 1rem;
  border: solid 1px var(--base01);
}

.markdown code {
  border-radius: 3px;
  padding: 0.125rem 0.25rem;
  color: var(--base05);
  /* too dark! */
  /* background: var(--base01); */
  background: hsla(210, 13%, 72%, 0.2);
}

.markdown a code {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
}

.markdown h1 code,
.markdown h2 code,
.markdown h3 code,
.markdown h4 code,
.markdown h5 code,
.markdown h6 code {
  color: inherit;
}

.markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
  border-radius: initial;
}

.markdown pre[data-line-numbers="true"]:not([data-lang="sh"]) {
  padding-left: 0rem;
  padding-right: 0rem;
}

.markdown
  pre[data-line-numbers="true"]:not([data-lang="sh"])
  [data-line-number]:before {
  padding-left: 0rem;
  content: attr(data-line-number);
  text-align: right;
  display: inline-block;
  width: 2rem;
  color: var(--base03);
  margin-right: 1.5rem;
}

.markdown
  pre[data-line-numbers="true"]:not([data-lang="sh"])
  [data-line-number][data-highlight="true"]:before {
  content: "+";
  color: var(--base0B);
}

.codeblock-line[data-highlight="true"]:after {
  pointer-events: none;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--base0B);
  opacity: 0.1;
}

.markdown docs-info,
.markdown docs-warning,
.markdown docs-error {
  display: block;
  border-left: solid 2px;
  border-right: solid 2px;
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 1rem;
}

.markdown docs-info:before,
.markdown docs-warning:before,
.markdown docs-error:before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.1;
  pointer-events: none;
}

.markdown docs-warning {
  color: var(--base0A);
}
.markdown docs-warning:before {
  background: var(--base0A);
}

.markdown docs-info {
  color: var(--base0D);
}
.markdown docs-info:before {
  background: var(--base0D);
}

.markdown docs-error {
  color: var(--base08);
}
.markdown docs-error:before {
  background: var(--base08);
}

.markdown pre[data-bad] {
  border-color: var(--base08);
}

.markdown
  pre[data-line-numbers="true"][data-bad]:not([data-lang="sh"])
  [data-line-number]:before {
  color: var(--base08);
}

.markdown pre[data-bad] {
  border-color: var(--base08);
}

pre[data-bad] .codeblock-line[data-highlight="true"]:after {
  background: var(--base08);
}
