# For the server
SESSION_SECRET="anything-you-want"

# GitHub repo to pull docs from
SOURCE_REPO="remix-run/react-router"

# A token to increase the rate limiting from 60/hr to 1000/hr
GH_TOKEN="..."

# For development, reading the docs from a local repo
LOCAL_REPO_RELATIVE_PATH="../react-router"

