FLY_APP_NAME=reactrouterdotcom
AUTH_TOKEN=https://1password.com/password-generator/?length=32
DATABASE_URL=file:./dev.db?connection_limit=1

# get from https://app.convertkit.com/account_settings/advanced_settings
CONVERTKIT_KEY="xxxxxxxxxxxxxxxxxxxxxx"

REPO="remix-run/react-router"
REPO_DOCS_PATH="docs"
REPO_EXAMPLES_PATH="examples"
REPO_LATEST_BRANCH="refs/heads/main"

LOCAL_DOCS_PATH="../react-router/docs"
LOCAL_EXAMPLES_PATH="../react-router/examples"

# Important! No trailing slash!
SITE_URL="https://reactrouter.com"
