node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles.processed.css
/.local.tgz
/app/modules/gh-docs/__fixture__/tar.tgz

*.code-workspace