@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --base00: theme("colors.gray.50");
  --base01: theme("colors.gray.200");
  --base02: theme("colors.gray.300");
  --base03: theme("colors.gray.400");
  --base04: theme("colors.gray.500");
  --base05: theme("colors.gray.600");
  --base06: theme("colors.gray.700");
  --base07: theme("colors.gray.800");
  --base08: theme("colors.red.700");
  --base09: theme("colors.pink.brand");
  --base0A: theme("colors.blue.500");
  --base0B: theme("colors.green.500");
  --base0C: theme("colors.aqua.400");
  --base0D: theme("colors.blue.700");
  --base0E: theme("colors.pink.brand");
  --base0F: theme("colors.gray.700");
}

html.dark {
  --base00: theme("colors.gray.800");
  --base01: theme("colors.gray.700");
  --base02: theme("colors.gray.600");
  --base03: theme("colors.gray.500");
  --base04: theme("colors.gray.400");
  --base05: theme("colors.gray.300");
  --base06: theme("colors.gray.200");
  --base07: theme("colors.gray.100");
  --base08: theme("colors.red.300");
  --base09: theme("colors.pink.brand");
  --base0A: theme("colors.blue.300");
  --base0B: theme("colors.yellow.brand");
  --base0C: theme("colors.aqua.300");
  --base0D: theme("colors.blue.300");
  --base0E: theme("colors.pink.300");
  --base0F: theme("colors.gray.300");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

._no-triangle::-webkit-details-marker {
  display: none;
  &::-webkit-details-marker {
    list-style-type: none;
  }
}

:focus {
  @apply outline-red-brand;
}

.md-prose {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @apply break-words leading-normal text-gray-700 dark:text-gray-100;

  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }

  /*****************************************************************************/
  /* general text styles */

  & p {
    @apply mt-0 mb-4;
  }

  & p,
  & ul,
  & ol,
  & blockquote {
    @apply max-w-[60ch];
  }

  & strong {
    @apply font-semibold;
  }

  & .icon {
    @apply inline-block fill-current align-text-bottom;
  }

  /*****************************************************************************/
  /* lists */

  & ol {
    @apply list-decimal;
  }

  & ul {
    @apply list-disc;
  }

  & ol,
  & ul {
    @apply my-0 mb-4 pl-8;
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }

  & ol ul,
  & ul ul {
    list-style-type: circle;
  }

  & ol ol ol,
  & ol ul ol,
  & ul ol ol,
  & ul ul ol {
    list-style-type: lower-alpha;
  }

  & ol ol ul,
  & ol ul ul,
  & ul ol ul,
  & ul ul ul {
    list-style-type: square;
  }

  & dd {
    @apply ml-0;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    @apply my-0;
  }

  & li {
    word-wrap: break-all;

    & > p {
      @apply m-0;
    }

    & > p + p {
      @apply mt-4;
    }

    & + li {
      @apply mt-1;
    }
  }

  & dl {
    @apply mt-0 mb-4 p-0;

    & dt {
      @apply mt-4 p-0 font-semibold italic;
    }

    & dd {
      @apply mb-4 px-4 py-0;
    }
  }

  /*****************************************************************************/
  /* links */
  & :not(h1, h2, h3, h4, h5, h6) a[href] {
    @apply text-gray-900 no-underline shadow-[0_1px_0px] shadow-gray-800 dark:text-gray-50 dark:shadow-gray-100;

    &:hover {
      @apply shadow-[0_2px_0px] shadow-red-brand dark:text-white;
    }
    &:active {
      @apply text-red-brand dark:text-red-brand;
    }
  }

  & a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  /*****************************************************************************/
  /* headings */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply mx-0 my-4 text-gray-900 dark:text-white;
  }

  & h1 {
    @apply my-4 text-3xl font-bold tracking-tight;
    &:first-child {
      @apply mt-0;
    }
  }

  & h2 {
    @apply mt-10 text-2xl font-bold;
  }

  & h1 + h2 {
    @apply mt-8;
  }

  & h3 {
    @apply text-xl font-bold;
  }

  & h4,
  & h5,
  & h6 {
    @apply text-xl font-light;
  }

  /*****************************************************************************/
  /* heading anchors */
  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    scroll-margin-top: 4em;
    scroll-snap-margin-top: 4em;

    & a {
      @apply absolute top-0 -left-6 -right-0 z-10 flex h-full items-center leading-none;
    }

    &:hover a,
    & a:hover {
      @apply no-underline;
    }

    & .icon-link {
      @apply flex h-full items-center align-middle text-blue-brand;
    }

    & a .icon-link::before {
      @apply invisible inline-block h-4 w-4;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
    }

    & a:hover .icon-link,
    & a .icon-link:hover,
    &:hover a .icon-link,
    & a:hover .icon-link::before,
    & a .icon-link:hover::before,
    &:hover a .icon-link::before {
      @apply visible opacity-100;
    }
  }

  & a[id] {
    @apply scroll-mt-24;
  }

  /*****************************************************************************/
  /* details / summary */
  & details {
    @apply mt-0 mb-4 block;
  }

  & summary {
    cursor: pointer;
    display: list-item;
  }

  & details[open] summary {
    @apply mb-2;
  }

  /*****************************************************************************/
  /* images */
  & img {
    @apply max-w-full border-0;

    /* avoid CLS for tutorial screenshots */
    &.tutorial {
      aspect-ratio: 1.47;
    }
  }

  /*****************************************************************************/
  /* code */

  & code,
  & kbd,
  & pre {
    word-wrap: normal;
    @apply overflow-auto rounded-lg p-3 text-sm leading-none md:p-4;
  }

  & pre {
    @apply my-4 bg-[color:var(--base00)] leading-relaxed;
  }

  /* TODO */
  & kbd {
    @apply inline-block rounded bg-gray-100 align-middle font-mono leading-[10px] dark:bg-gray-900;
    box-shadow: inset 0 -1px 0 hsl(0, 0%, 0%, 0.5);
  }

  & pre > code {
    @apply m-0 whitespace-pre break-normal bg-transparent p-0;
  }

  & .codeblock-line {
    @apply relative block pr-4;
  }

  & code {
    /* @apply rounded bg-gray-50 py-[2px] px-1 text-[color:inherit] dark:bg-gray-800; */
    @apply p-0 text-gray-900 dark:text-white;
    font-size: 90%;
  }

  & :not(pre) > code {
    &:before,
    &:after {
      content: "`";
    }
  }

  & :is(a, h1, h2, h3, h4, h5, h6) code,
  & :is(a, h1, h2, h3, h4, h5, h6) kbd {
    @apply text-[color:inherit];
  }

  & pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
    border-radius: initial;
  }

  & pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"]) {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  &
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]::before {
    content: attr(data-line-number);
    @apply mr-6 inline-block w-10 bg-gray-50 pl-0 pr-2 text-right text-gray-300 dark:bg-gray-800 dark:text-gray-600;
    position: sticky;
    left: 0;
  }

  & pre[data-filename]::before,
  & pre[data-bad]::before {
    @apply sticky left-0 mb-2 block border-b border-gray-100 bg-no-repeat pl-10 pb-3 dark:border-gray-700;
    background-position: 1rem 3px;
  }

  & pre[data-filename]::before {
    @apply text-gray-400 dark:text-gray-300;
    content: attr(data-filename);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='#aaa'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
  }

  & pre[data-bad]::before {
    @apply font-semibold text-red-700 dark:text-red-400;
    content: "This is a bad example";
    /* Hardcoding: fill={theme('colors.red.700')} */
    background-image: url("data:image/svg+xml,%3Csvg fill='%23bd1825' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65625 15.75C6.50625 15.75 6.35938 15.7188 6.21563 15.6562C6.07188 15.5938 5.95 15.5125 5.85 15.4125L2.5875 12.15C2.4875 12.05 2.40625 11.9281 2.34375 11.7844C2.28125 11.6406 2.25 11.4937 2.25 11.3438V6.65625C2.25 6.50625 2.28125 6.35938 2.34375 6.21563C2.40625 6.07188 2.4875 5.95 2.5875 5.85L5.85 2.5875C5.95 2.4875 6.07188 2.40625 6.21563 2.34375C6.35938 2.28125 6.50625 2.25 6.65625 2.25H11.3438C11.4937 2.25 11.6406 2.28125 11.7844 2.34375C11.9281 2.40625 12.05 2.4875 12.15 2.5875L15.4125 5.85C15.5125 5.95 15.5938 6.07188 15.6562 6.21563C15.7188 6.35938 15.75 6.50625 15.75 6.65625V11.3438C15.75 11.4937 15.7188 11.6406 15.6562 11.7844C15.5938 11.9281 15.5125 12.05 15.4125 12.15L12.15 15.4125C12.05 15.5125 11.9281 15.5938 11.7844 15.6562C11.6406 15.7188 11.4937 15.75 11.3438 15.75H6.65625ZM9 12.7313C9.175 12.7313 9.32812 12.6656 9.45938 12.5344C9.59063 12.4031 9.65625 12.25 9.65625 12.075C9.65625 11.9 9.59063 11.7469 9.45938 11.6156C9.32812 11.4844 9.175 11.4188 9 11.4188C8.825 11.4188 8.67188 11.4844 8.54062 11.6156C8.40937 11.7469 8.34375 11.9 8.34375 12.075C8.34375 12.25 8.40937 12.4031 8.54062 12.5344C8.67188 12.6656 8.825 12.7313 9 12.7313ZM9 10.0312C9.1625 10.0312 9.29688 9.97813 9.40313 9.87188C9.50938 9.76563 9.5625 9.63125 9.5625 9.46875V5.6625C9.5625 5.5 9.50938 5.36562 9.40313 5.25937C9.29688 5.15312 9.1625 5.1 9 5.1C8.8375 5.1 8.70312 5.15312 8.59687 5.25937C8.49062 5.36562 8.4375 5.5 8.4375 5.6625V9.46875C8.4375 9.63125 8.49062 9.76563 8.59687 9.87188C8.70312 9.97813 8.8375 10.0312 9 10.0312ZM6.65625 14.625H11.3438L14.625 11.3438V6.65625L11.3438 3.375H6.65625L3.375 6.65625V11.3438L6.65625 14.625Z'/%3E%3C/svg%3E%0A");
  }
  .dark & {
    & pre[data-bad]::before {
      /* Hardcoding: fill={theme('colors.red.400')} */
      background-image: url("data:image/svg+xml,%3Csvg fill='%23fc6d78' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65625 15.75C6.50625 15.75 6.35938 15.7188 6.21563 15.6562C6.07188 15.5938 5.95 15.5125 5.85 15.4125L2.5875 12.15C2.4875 12.05 2.40625 11.9281 2.34375 11.7844C2.28125 11.6406 2.25 11.4937 2.25 11.3438V6.65625C2.25 6.50625 2.28125 6.35938 2.34375 6.21563C2.40625 6.07188 2.4875 5.95 2.5875 5.85L5.85 2.5875C5.95 2.4875 6.07188 2.40625 6.21563 2.34375C6.35938 2.28125 6.50625 2.25 6.65625 2.25H11.3438C11.4937 2.25 11.6406 2.28125 11.7844 2.34375C11.9281 2.40625 12.05 2.4875 12.15 2.5875L15.4125 5.85C15.5125 5.95 15.5938 6.07188 15.6562 6.21563C15.7188 6.35938 15.75 6.50625 15.75 6.65625V11.3438C15.75 11.4937 15.7188 11.6406 15.6562 11.7844C15.5938 11.9281 15.5125 12.05 15.4125 12.15L12.15 15.4125C12.05 15.5125 11.9281 15.5938 11.7844 15.6562C11.6406 15.7188 11.4937 15.75 11.3438 15.75H6.65625ZM9 12.7313C9.175 12.7313 9.32812 12.6656 9.45938 12.5344C9.59063 12.4031 9.65625 12.25 9.65625 12.075C9.65625 11.9 9.59063 11.7469 9.45938 11.6156C9.32812 11.4844 9.175 11.4188 9 11.4188C8.825 11.4188 8.67188 11.4844 8.54062 11.6156C8.40937 11.7469 8.34375 11.9 8.34375 12.075C8.34375 12.25 8.40937 12.4031 8.54062 12.5344C8.67188 12.6656 8.825 12.7313 9 12.7313ZM9 10.0312C9.1625 10.0312 9.29688 9.97813 9.40313 9.87188C9.50938 9.76563 9.5625 9.63125 9.5625 9.46875V5.6625C9.5625 5.5 9.50938 5.36562 9.40313 5.25937C9.29688 5.15312 9.1625 5.1 9 5.1C8.8375 5.1 8.70312 5.15312 8.59687 5.25937C8.49062 5.36562 8.4375 5.5 8.4375 5.6625V9.46875C8.4375 9.63125 8.49062 9.76563 8.59687 9.87188C8.70312 9.97813 8.8375 10.0312 9 10.0312ZM6.65625 14.625H11.3438L14.625 11.3438V6.65625L11.3438 3.375H6.65625L3.375 6.65625V11.3438L6.65625 14.625Z'/%3E%3C/svg%3E%0A");
    }
  }

  & pre[data-bad][data-filename]::before {
    content: attr(data-filename) " - This is bad code";
  }

  & pre[data-bad] .codeblock-line[data-highlight="true"]::after {
    @apply bg-red-700 dark:bg-red-400;
  }

  & .codeblock-line[data-highlight="true"]::after {
    content: " ";
    @apply pointer-events-none absolute top-0 left-0 w-full bg-green-500 opacity-10 dark:opacity-20;
  }

  /*****************************************************************************/
  /* tables */

  & table {
    text-indent: 0;
    border-spacing: 0;
    @apply my-10 block w-full max-w-full border-collapse overflow-auto border-[color:inherit] text-left;
  }

  & table th {
    @apply sticky top-0 bg-transparent font-semibold;
    @apply border-0 border-b-2 border-gray-200 p-0 pb-1 pr-4 dark:border-gray-800 md:pr-6;
  }

  & table tbody {
    @apply align-baseline;
  }

  & table td {
    @apply whitespace-nowrap border-0 border-b border-gray-100 p-0 py-2 pr-4  dark:border-gray-800  md:pr-6;
  }

  /*****************************************************************************/
  /* blocks */

  & docs-info,
  & docs-warning,
  & docs-error,
  & docs-success {
    @apply relative my-8 block px-4 py-0;

    &:before {
      @apply block bg-no-repeat pl-6 text-sm font-medium uppercase tracking-widest;
      background-position: 0 1px;
    }

    &:after {
      @apply absolute left-0 top-0 bottom-0 w-1 rounded-full;
      content: "";
    }

    /* It's possible these could have an image embedded in them */
    img {
      @apply mt-4;
    }
  }

  & docs-info {
    &:after {
      @apply bg-blue-brand;
    }

    &:before {
      @apply text-blue-brand;
      content: "Note";
      /* Great tool for inlining svg: https://yoksel.github.io/url-encoder/ */
      /* Hardcoding: fill={theme('colors.blue.brand')} */
      background-image: url("data:image/svg+xml,%3Csvg fill='%233992ff' width='18' height='18' viewBox='0 0 18 18'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.05625 12.75C9.21875 12.75 9.35312 12.6969 9.45937 12.5906C9.56562 12.4844 9.61875 12.35 9.61875 12.1875V8.79375C9.61875 8.64375 9.5625 8.51562 9.45 8.40937C9.3375 8.30312 9.20625 8.25 9.05625 8.25C8.89375 8.25 8.75937 8.30312 8.65312 8.40937C8.54687 8.51562 8.49375 8.65 8.49375 8.8125V12.2062C8.49375 12.3562 8.55 12.4844 8.6625 12.5906C8.775 12.6969 8.90625 12.75 9.05625 12.75ZM9 6.8625C9.175 6.8625 9.32187 6.80625 9.44062 6.69375C9.55937 6.58125 9.61875 6.4375 9.61875 6.2625C9.61875 6.0875 9.55937 5.9375 9.44062 5.8125C9.32187 5.6875 9.175 5.625 9 5.625C8.825 5.625 8.67812 5.6875 8.55937 5.8125C8.44062 5.9375 8.38125 6.0875 8.38125 6.2625C8.38125 6.4375 8.44062 6.58125 8.55937 6.69375C8.67812 6.80625 8.825 6.8625 9 6.8625ZM9 16.5C7.9375 16.5 6.95 16.3094 6.0375 15.9281C5.125 15.5469 4.33125 15.0187 3.65625 14.3437C2.98125 13.6687 2.45312 12.875 2.07187 11.9625C1.69063 11.05 1.5 10.0625 1.5 9C1.5 7.95 1.69063 6.96875 2.07187 6.05625C2.45312 5.14375 2.98125 4.35 3.65625 3.675C4.33125 3 5.125 2.46875 6.0375 2.08125C6.95 1.69375 7.9375 1.5 9 1.5C10.05 1.5 11.0312 1.69375 11.9437 2.08125C12.8562 2.46875 13.65 3 14.325 3.675C15 4.35 15.5312 5.14375 15.9187 6.05625C16.3062 6.96875 16.5 7.95 16.5 9C16.5 10.0625 16.3062 11.05 15.9187 11.9625C15.5312 12.875 15 13.6687 14.325 14.3437C13.65 15.0187 12.8562 15.5469 11.9437 15.9281C11.0312 16.3094 10.05 16.5 9 16.5ZM9 15.375C10.75 15.375 12.25 14.75 13.5 13.5C14.75 12.25 15.375 10.75 15.375 9C15.375 7.25 14.75 5.75 13.5 4.5C12.25 3.25 10.75 2.625 9 2.625C7.25 2.625 5.75 3.25 4.5 4.5C3.25 5.75 2.625 7.25 2.625 9C2.625 10.75 3.25 12.25 4.5 13.5C5.75 14.75 7.25 15.375 9 15.375Z' /%3E%3C/svg%3E");
    }
  }

  & docs-warning {
    &:after {
      @apply bg-yellow-600 dark:bg-yellow-brand;
    }

    &:before {
      @apply text-yellow-600 dark:text-yellow-brand;
      content: "Important";
      /* Hardcoding: fill={theme('colors.yellow.600')} */
      background-image: url("data:image/svg+xml,%3Csvg fill='%23cd8701' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.72501 15.75C1.51251 15.75 1.35001 15.6562 1.23751 15.4688C1.12501 15.2812 1.12501 15.0938 1.23751 14.9062L8.51251 2.34375C8.62501 2.15625 8.78751 2.0625 9.00001 2.0625C9.21251 2.0625 9.37501 2.15625 9.48751 2.34375L16.7625 14.9062C16.875 15.0938 16.875 15.2812 16.7625 15.4688C16.65 15.6562 16.4875 15.75 16.275 15.75H1.72501ZM9.07501 7.275C8.91251 7.275 8.77814 7.32813 8.67189 7.43438C8.56564 7.54063 8.51251 7.675 8.51251 7.8375V10.9125C8.51251 11.075 8.56564 11.2094 8.67189 11.3156C8.77814 11.4219 8.91251 11.475 9.07501 11.475C9.23751 11.475 9.37189 11.4219 9.47814 11.3156C9.58439 11.2094 9.63751 11.075 9.63751 10.9125V7.8375C9.63751 7.675 9.58439 7.54063 9.47814 7.43438C9.37189 7.32813 9.23751 7.275 9.07501 7.275ZM9.07501 13.5563C9.23751 13.5563 9.37189 13.5031 9.47814 13.3969C9.58439 13.2906 9.63751 13.1563 9.63751 12.9938C9.63751 12.8313 9.58439 12.6969 9.47814 12.5906C9.37189 12.4844 9.23751 12.4313 9.07501 12.4313C8.91251 12.4313 8.77814 12.4844 8.67189 12.5906C8.56564 12.6969 8.51251 12.8313 8.51251 12.9938C8.51251 13.1563 8.56564 13.2906 8.67189 13.3969C8.77814 13.5031 8.91251 13.5563 9.07501 13.5563ZM2.70001 14.625H15.3L9.00001 3.75L2.70001 14.625Z'/%3E%3C/svg%3E");
    }
  }
  /* Hardcoding: fill={theme('colors.yellow.brand')} */
  .dark & {
    docs-warning:before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23fecc1b' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.72501 15.75C1.51251 15.75 1.35001 15.6562 1.23751 15.4688C1.12501 15.2812 1.12501 15.0938 1.23751 14.9062L8.51251 2.34375C8.62501 2.15625 8.78751 2.0625 9.00001 2.0625C9.21251 2.0625 9.37501 2.15625 9.48751 2.34375L16.7625 14.9062C16.875 15.0938 16.875 15.2812 16.7625 15.4688C16.65 15.6562 16.4875 15.75 16.275 15.75H1.72501ZM9.07501 7.275C8.91251 7.275 8.77814 7.32813 8.67189 7.43438C8.56564 7.54063 8.51251 7.675 8.51251 7.8375V10.9125C8.51251 11.075 8.56564 11.2094 8.67189 11.3156C8.77814 11.4219 8.91251 11.475 9.07501 11.475C9.23751 11.475 9.37189 11.4219 9.47814 11.3156C9.58439 11.2094 9.63751 11.075 9.63751 10.9125V7.8375C9.63751 7.675 9.58439 7.54063 9.47814 7.43438C9.37189 7.32813 9.23751 7.275 9.07501 7.275ZM9.07501 13.5563C9.23751 13.5563 9.37189 13.5031 9.47814 13.3969C9.58439 13.2906 9.63751 13.1563 9.63751 12.9938C9.63751 12.8313 9.58439 12.6969 9.47814 12.5906C9.37189 12.4844 9.23751 12.4313 9.07501 12.4313C8.91251 12.4313 8.77814 12.4844 8.67189 12.5906C8.56564 12.6969 8.51251 12.8313 8.51251 12.9938C8.51251 13.1563 8.56564 13.2906 8.67189 13.3969C8.77814 13.5031 8.91251 13.5563 9.07501 13.5563ZM2.70001 14.625H15.3L9.00001 3.75L2.70001 14.625Z'/%3E%3C/svg%3E");
    }
  }

  & docs-error {
    &:after {
      @apply bg-red-700 dark:bg-red-400;
    }

    &:before {
      @apply text-red-700 dark:text-red-400;
      content: "Danger";
      /* Hardcoding: fill={theme('colors.red.700')} */
      background-image: url("data:image/svg+xml,%3Csvg fill='%23bd1825' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65625 15.75C6.50625 15.75 6.35938 15.7188 6.21563 15.6562C6.07188 15.5938 5.95 15.5125 5.85 15.4125L2.5875 12.15C2.4875 12.05 2.40625 11.9281 2.34375 11.7844C2.28125 11.6406 2.25 11.4937 2.25 11.3438V6.65625C2.25 6.50625 2.28125 6.35938 2.34375 6.21563C2.40625 6.07188 2.4875 5.95 2.5875 5.85L5.85 2.5875C5.95 2.4875 6.07188 2.40625 6.21563 2.34375C6.35938 2.28125 6.50625 2.25 6.65625 2.25H11.3438C11.4937 2.25 11.6406 2.28125 11.7844 2.34375C11.9281 2.40625 12.05 2.4875 12.15 2.5875L15.4125 5.85C15.5125 5.95 15.5938 6.07188 15.6562 6.21563C15.7188 6.35938 15.75 6.50625 15.75 6.65625V11.3438C15.75 11.4937 15.7188 11.6406 15.6562 11.7844C15.5938 11.9281 15.5125 12.05 15.4125 12.15L12.15 15.4125C12.05 15.5125 11.9281 15.5938 11.7844 15.6562C11.6406 15.7188 11.4937 15.75 11.3438 15.75H6.65625ZM9 12.7313C9.175 12.7313 9.32812 12.6656 9.45938 12.5344C9.59063 12.4031 9.65625 12.25 9.65625 12.075C9.65625 11.9 9.59063 11.7469 9.45938 11.6156C9.32812 11.4844 9.175 11.4188 9 11.4188C8.825 11.4188 8.67188 11.4844 8.54062 11.6156C8.40937 11.7469 8.34375 11.9 8.34375 12.075C8.34375 12.25 8.40937 12.4031 8.54062 12.5344C8.67188 12.6656 8.825 12.7313 9 12.7313ZM9 10.0312C9.1625 10.0312 9.29688 9.97813 9.40313 9.87188C9.50938 9.76563 9.5625 9.63125 9.5625 9.46875V5.6625C9.5625 5.5 9.50938 5.36562 9.40313 5.25937C9.29688 5.15312 9.1625 5.1 9 5.1C8.8375 5.1 8.70312 5.15312 8.59687 5.25937C8.49062 5.36562 8.4375 5.5 8.4375 5.6625V9.46875C8.4375 9.63125 8.49062 9.76563 8.59687 9.87188C8.70312 9.97813 8.8375 10.0312 9 10.0312ZM6.65625 14.625H11.3438L14.625 11.3438V6.65625L11.3438 3.375H6.65625L3.375 6.65625V11.3438L6.65625 14.625Z'/%3E%3C/svg%3E%0A");
    }
  }
  .dark & {
    docs-error::before {
      /* Hardcoding: fill={theme('colors.red.400')} */
      background-image: url("data:image/svg+xml,%3Csvg fill='%23fc6d78' width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65625 15.75C6.50625 15.75 6.35938 15.7188 6.21563 15.6562C6.07188 15.5938 5.95 15.5125 5.85 15.4125L2.5875 12.15C2.4875 12.05 2.40625 11.9281 2.34375 11.7844C2.28125 11.6406 2.25 11.4937 2.25 11.3438V6.65625C2.25 6.50625 2.28125 6.35938 2.34375 6.21563C2.40625 6.07188 2.4875 5.95 2.5875 5.85L5.85 2.5875C5.95 2.4875 6.07188 2.40625 6.21563 2.34375C6.35938 2.28125 6.50625 2.25 6.65625 2.25H11.3438C11.4937 2.25 11.6406 2.28125 11.7844 2.34375C11.9281 2.40625 12.05 2.4875 12.15 2.5875L15.4125 5.85C15.5125 5.95 15.5938 6.07188 15.6562 6.21563C15.7188 6.35938 15.75 6.50625 15.75 6.65625V11.3438C15.75 11.4937 15.7188 11.6406 15.6562 11.7844C15.5938 11.9281 15.5125 12.05 15.4125 12.15L12.15 15.4125C12.05 15.5125 11.9281 15.5938 11.7844 15.6562C11.6406 15.7188 11.4937 15.75 11.3438 15.75H6.65625ZM9 12.7313C9.175 12.7313 9.32812 12.6656 9.45938 12.5344C9.59063 12.4031 9.65625 12.25 9.65625 12.075C9.65625 11.9 9.59063 11.7469 9.45938 11.6156C9.32812 11.4844 9.175 11.4188 9 11.4188C8.825 11.4188 8.67188 11.4844 8.54062 11.6156C8.40937 11.7469 8.34375 11.9 8.34375 12.075C8.34375 12.25 8.40937 12.4031 8.54062 12.5344C8.67188 12.6656 8.825 12.7313 9 12.7313ZM9 10.0312C9.1625 10.0312 9.29688 9.97813 9.40313 9.87188C9.50938 9.76563 9.5625 9.63125 9.5625 9.46875V5.6625C9.5625 5.5 9.50938 5.36562 9.40313 5.25937C9.29688 5.15312 9.1625 5.1 9 5.1C8.8375 5.1 8.70312 5.15312 8.59687 5.25937C8.49062 5.36562 8.4375 5.5 8.4375 5.6625V9.46875C8.4375 9.63125 8.49062 9.76563 8.59687 9.87188C8.70312 9.97813 8.8375 10.0312 9 10.0312ZM6.65625 14.625H11.3438L14.625 11.3438V6.65625L11.3438 3.375H6.65625L3.375 6.65625V11.3438L6.65625 14.625Z'/%3E%3C/svg%3E%0A");
    }
  }

  & docs-cards {
    @apply flex grid-cols-2 flex-col gap-6 md:grid;

    & > a {
      @apply block rounded;
      color: unset;
    }

    & > a:hover {
      text-decoration: unset;
    }
  }

  & docs-card {
    @apply block h-full w-full rounded border border-gray-200 p-6 shadow transition-shadow ease-out dark:border-gray-800;

    & > :first-child {
      @apply mt-0;
    }

    & > :last-child {
      @apply mb-0;
    }
  }

  & a:hover docs-card {
    @apply shadow-lg;
  }

  /*****************************************************************************/
  /* blockquotes */

  & blockquote {
    @apply mx-0 mt-0 mb-4 border-l-4 border-gray-200 p-0 pl-4 text-gray-600 dark:border-gray-800 dark:text-gray-300;
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  /*****************************************************************************/
  /* hr */

  & hr {
    @apply my-6 mx-0 h-[1px] overflow-visible border-0 bg-gray-200 p-0 dark:bg-gray-800;
  }
}
