@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base00: #ffffff;
    --base01: #e1e1e1;
    --base02: #b6b6b6;
    --base03: #8a8a8a;
    --base04: #5f5f5f;
    --base05: #464646;
    --base06: #2c2c2c;
    --base07: #121212;
    --base08: var(--color-red-500);
    --base09: var(--color-orange-500);
    --base0A: var(--color-yellow-500);
    --base0B: var(--color-green-500);
    --base0C: var(--color-cyan-500);
    --base0D: var(--color-blue-500);
    --base0E: var(--color-violet-500);
    --base0F: var(--color-amber-500);
  }

  :root[data-force-dark] {
    --base00: #121212;
    --base01: #2c2c2c;
    --base02: #464646;
    --base03: #5f5f5f;
    --base04: #8a8a8a;
    --base05: #b6b6b6;
    --base06: #e1e1e1;
    --base07: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --base00: #121212;
      --base01: #2c2c2c;
      --base02: #464646;
      --base03: #5f5f5f;
      --base04: #8a8a8a;
      --base05: #b6b6b6;
      --base06: #e1e1e1;
      --base07: #ffffff;
    }
  }
}

.contain {
  max-width: theme(screens.xl);
  width: calc(100% - (theme(spacing.4) * 2));
  margin: 0 auto;
}

@media screen and (min-width: theme(screens.md)) {
  .contain {
    width: calc(100% - (theme(spacing.6) * 2));
  }
}

@media screen and (min-width: theme(screens.2xl)) {
  .contain {
    max-width: theme(screens.2xl);
  }
}

body[data-nav-open] {
  @apply overflow-hidden;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply leading-squeezed;
  @apply font-display;
  @apply font-bold;
  color: var(--base07);
}

.title {
  @apply leading-negative;
  font-size: theme(fontSize.6xl);
}
h1,
.h1 {
  font-size: theme(fontSize.5xl);
}
h2,
.h2 {
  font-size: theme(fontSize.3xl);
}
h3,
.h3 {
  font-size: theme(fontSize.2xl);
}
h4,
.h4 {
  font-size: theme(fontSize.xl);
}
h5,
.h5 {
  font-size: theme(fontSize.lg);
}
h6,
.h6 {
  font-size: theme(fontSize.base);
}

.eyebrow {
  @apply font-normal;
  @apply leading-none;
  @apply text-base;
  @apply uppercase;
}

.eyebrow-sm {
  @apply font-normal;
  @apply leading-none;
  @apply text-sm;
  @apply uppercase;
}

@media screen and (min-width: theme(screens.md)) {
  .title {
    font-size: theme(fontSize.8xl);
  }
  h1,
  .h1 {
    font-size: theme(fontSize.6xl);
  }
  h2,
  .h2 {
    font-size: theme(fontSize.5xl);
  }
  h3,
  .h3 {
    font-size: theme(fontSize.3xl);
  }
}

@media screen and (min-width: theme(screens.lg)) {
  .title {
    font-size: theme(fontSize.9xl);
  }
  h1,
  .h1 {
    font-size: theme(fontSize.8xl);
  }
  h2,
  .h2 {
    font-size: theme(fontSize.7xl);
  }
  h3,
  .h3 {
    font-size: theme(fontSize.4xl);
  }
  h4,
  .h4 {
    font-size: theme(fontSize.2xl);
  }
}

a,
a code,
code,
strong {
  color: inherit;
}

a {
  @apply text-blue-500;
  @apply transition-colors;
  @apply duration-200;
  /* TODO: Create TW util for this, or maybe it exists? Just need to add opacity
  to `transition-colors` */
  transition-property: opacity, background-color, border-color, color, fill,
    stroke;
}

a:hover {
  @apply text-blue-400;
}

:focus {
  @apply outline-none;
  @apply ring-2;
  @apply ring-blue-500;
}
