@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base00: #ffffff;
    --base01: #e1e1e1;
    --base02: #b6b6b6;
    --base03: #8a8a8a;
    --base04: #5f5f5f;
    --base05: #464646;
    --base06: #2c2c2c;
    --base07: #121212;
    --base08: var(--color-red-500);
    --base09: var(--color-orange-500);
    --base0A: var(--color-yellow-500);
    --base0B: var(--color-green-500);
    --base0C: var(--color-cyan-500);
    --base0D: var(--color-blue-500);
    --base0E: var(--color-violet-500);
    --base0F: var(--color-amber-500);
  }

  :root[data-force-dark] {
    --base00: #121212;
    --base01: #2c2c2c;
    --base02: #464646;
    --base03: #5f5f5f;
    --base04: #8a8a8a;
    --base05: #b6b6b6;
    --base06: #e1e1e1;
    --base07: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --base00: #121212;
      --base01: #2c2c2c;
      --base02: #464646;
      --base03: #5f5f5f;
      --base04: #8a8a8a;
      --base05: #b6b6b6;
      --base06: #e1e1e1;
      --base07: #ffffff;
    }
  }
}

.contain {
  max-width: theme(screens.xl);
  width: calc(100% - (theme(spacing.4) * 2));
  margin: 0 auto;
}

@media screen and (min-width: theme(screens.md)) {
  .contain {
    width: calc(100% - (theme(spacing.6) * 2));
  }
}

@media screen and (min-width: theme(screens.2xl)) {
  .contain {
    max-width: theme(screens.2xl);
  }
}

body[data-nav-open] {
  @apply overflow-hidden;
}
